{% extends "navbar.html" %}
{% load static %}

{% block header %}
<script src="{% static 'js/chat.js' %}" defer="true"></script>
{% endblock %}

{% block navbar %}
<div class="w-100 position-relative d-flex flex-grow-1">
	<div class="container-lg justify-content-center align-items-center w-100 h-100 p-5 pt-5 pb-2 pt-lg-0 pb-lg-5">
	<!-- <div class="container"></div> -->
		<div class="card w-100 w-max-none h-100 flex-row">
			<div class="w-auto w-min-35 h-100 p-4">
				<div class="form-group w-100 position-relative">
					<span class="fa-solid fa-search position-absolute d-block line-h-2 mx-3 my-1"></span>
					<input class="form-control px-5" type="text" placeholder="Search">
				</div>
				<div class="d-inline-block card w-max-none w-100 mt-2 p-2 font-75">
					<div class="pfp-3 my-auto me-2 float-start"></div>
					<div>
						<span class="d-block text-truncate">Dummy</span>
						<div class="d-block text-truncate">
							<span>you: Hello</span>
							<span class="float-end">12:09</span>
						</div>
					</div>
				</div>
				<div class="d-inline-block card card w-max-none w-100 mt-2 p-2 font-75">
					<div class="pfp-3 my-auto me-2 float-start"></div>
					<div>
						<span class="d-block text-truncate">Dummy</span>
						<div class="d-block text-truncate">
							<span>you: Hello :D</span>
							<span class="float-end">12:09</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container d-flex flex-column p-4 w-100 h-100">
				<div class="d-flex w-100 justify-content-between">
					<h>Dummy</h>
					<button class="border-0 bg-transparent">
						<i class="notification fa-solid fa-gamepad font-150 text-light"></i>
					</button>
				</div>
				<div class="d-block flex-grow-1 h-0 my-2 overflow-auto" id="chat-room-container">
					<div class="w-100 h-100" id="chat-room"></div>
				</div>
				<form id="message-form" class="form-group w-auto position-relative" autocomplete="off" noaction>
					<button type="submit" class="p-0 m-0 border-0">
						<span class="fa-solid fa-paper-plane position-absolute end-0 bottom-0 mx-0 px-3 d-block line-h-2 my-1"></span>
					</button>
					<input class="form-control pe-5" type="text" placeholder="Message" name="message">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}