{% extends "navbar.html" %}
{% load static %}

{% block header %}
<script src="{% static 'js/friend_request.js' %}" defer="true"></script>
{% endblock %}

{% block navbar %}
<div class="w-100 position-relative d-flex flex-grow-1">
	<div class="container-lg justify-content-center align-items-center w-100 h-100">
		<!-- <div class="container"></div> -->
		<div class="d-flex flex-column w-100 h-100">
			<div class="card-ff w-auto position-relative py-2">
				<span class="fa-solid fa-search position-absolute end-0 mx-3 d-block line-h-2 my-1"></span>
				<input class="form-control" type="text" placeholder="Search">
			</div>
			<div class="flex-grow-1 w-100 h-0 px-4 overflow-auto z-0">
				{% for user in users %}
				<div class="position-relative overflow-hidden fit-content rounded-2 m-2 px-3 min-content float-start text-center" style="min-width:14rem;min-height:20rem;">
					<img src="{{ user.banner_url }}" class="position-absolute h-100 start-50 top-50" style="filter: brightness(0.45) blur(1.5px); transform: translate(-50%, -50%);">
					<div class="d-flex align-items-center flex-column w-100 h-100 p-3">
						<div class="pfp m-4" style="background-image: url({{ user.avatar_url }})"></div>
						<div class="d-inline-flex w-100 align-items-center flex-column z-1">
							<h4>{{ user.username }}</h4>
							{% comment %} <span>Dummy Smith</span> {% endcomment %}
							<p>{{ user.description }}</p>
						</div>
						<div class="d-inline-flex w-100 justify-content-evenly">
							<a class="border-0 bg-transparent text-decoration-none" href="#1">
								<i class="notification fa-solid fa-gamepad pe-none font-150 text-light"></i>
							</a>
							{% if not user.is_admin and user.username not in friends %}
								<a class="border-0 bg-transparent text-decoration-none" href="#2" onclick="sendFriendRequest('{{ user.username }}')">
									<i class="notification fa-solid fa-person-circle-plus font-150 text-light z-0"></i>
								</a>
							{% endif %}
							{% if user.is_admin %}
								<a class="border-0 bg-transparent text-decoration-none">
									<i class="notification fa-solid fa-shield font-150 text-light z-0"></i>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}