{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="justify-content-center" style="text-align: center;"> 
	<div class="column justify-content-center" style="text-align: center; margin-top: 16vh;">
		<img src="{% static 'WELCOME TO.png' %}" style="width: 140px; height: 14;"><br>
		<img src="{% static '42GAME.png' %}" style="width: 70px; height: 52; padding-top: 10px;">
	</div>
	<div class="wrapper justify-content-center mt-3">
		<div class="column content-solid mx-2">
			<div class="card-topic">Login</div>
			<form action="" method="POST">
			{% csrf_token %}
				<input class="input-box" type="text" placeholder="Enter Username" name="username" required>
				<input class="input-box" type="password" placeholder="Enter Password" name="password" required>
				<button type="submit" name="submit" value="sign-in" class="btn btn-light" style="width: 80%; font-size: 0.8rem;">Sign in</button>
			</form>
				<div style="text-align: center; color: #ffffff;" class="my-3"> Or </div>
				<a href="{{ authorize_uri }}">
					<button type="button" class="btn btn-light mb-2" style="width: 80%; font-size: 0.8rem;">
						<img src="{% static '42Logo.png' %}" style="width: 20px;">
						Continue with 42
					</button>
				</a>
				<!-- <button type="button" class="btn btn-light mb-2" style="width: 80%; font-size: 0.8rem;">
					<img src="{% static 'Google.png' %}" style="width: 20px;">
					Continue with Google
				</button> -->
				{% for message in messages %}
					{% if "sign-in" in message.tags %}
						<p style="color:red">{{message}}</p>
					{% endif %}
				{% endfor %}
		</div>
		<div class="column content-solid mx-2">
			<div class="card-topic">Register</div>
			<form action="" method="POST">
				{% csrf_token %}
				<input class="input-box" type="text" placeholder="Enter Username" name="username" required>
				<input class="input-box" type="email" placeholder="Enter Email" name="email" required>
				<input class="input-box" type="password" placeholder="Create password" name="password" required>
				<input class="input-box" type="password" placeholder="Confirm password" name="repeat_password" required>
				<button type="submit" name="submit" value="sign-up" class="btn btn-light" style="width: 80%; font-size: 0.8rem;">Sign up</button>
			</form>
			{% for message in messages %}
				{% if "sign-up" in message.tags %}
					{% if "success" in message.tags %}
						<p style="color:green">{{message}}</p>
					{% elif "error" in message.tags %}
						<p style="color:red">{{message}}</p>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}