{% extends 'components/base.html' %}
{% load static %}

{% block content %}

	<h1> Login </h1>
	<form action="" method="POST">
	{% csrf_token %}
		<label for="uname"><b>Username</b></label>
		<br/>
		<input type="text" placeholder="Enter Username" name="username" required>
		<br/>
		<label for="psw"><b>Password</b></label>
		<br/>
		<input type="password" placeholder="Enter Password" name="password" required>
		<br/>
		<button type="submit" name="submit" value="sign-in">Sign in</button>
	</form>
	<a href="{{ authorize_uri }}">
		<span>login with </span>
		<img src="{% static 'icons/42_Logo.png' %}" alt="42 school logo" width="20" height="20">
	</a>
	{% for message in messages %}
		{% if message.tags == 'warning' %}
			<p style="color:red">{{message}}</p>
		{% endif %}
		{% if "sign-in" in message.tags %}
			<p style="color:red">{{message}}</p>
		{% endif %}
	{% endfor %}

	<hr/>
	
	<h1> Register </h1>
	<form action="" method="POST">
	{% csrf_token %}
		<label for="username"><b>Username</b></label>
		<br />
		<input type="text" placeholder="Enter Username" name="username" required>
		<br />
		<label for="email"><b>Email</b></label>
		<br />
		<input type="email" placeholder="Enter Email" name="email" required>
		<br />
		<label for="password"><b>Password</b></label>
		<br />
		<input type="password" placeholder="Enter Password" name="password" required>
		<br />
		<label for="password"><b>Repeat Password</b></label>
		<br />
		<input type="password" placeholder="Enter Password" name="repeat_password" required>
		<br />
		<button type="submit" name="submit" value="sign-up">Sign up</button>
	</form>
	{% for message in messages %}
		{% if "sign-up" in message.tags %}
			<p style="color:red">{{message}}</p>
		{% endif %}
	{% endfor %}
{% endblock %}