{% extends "navbar.html" %}
{% load static %}

{% block navbar %}
<div class="w-100 position-relative d-flex flex-grow-1 my-5 my-lg-01">
	<div class="w-100 my-auto d-flex flex-column flex-lg-row justify-content-lg-evenly py-2">
		<div class="d-flex flex-column line-h-1 align-self-center my-5 my-lg-auto font-pressstart2p font-300">
			<span>PONG</span>
			<span>PONG</span>
			<img class="d-flex icon-sm m-auto" src="{% static 'assets/icon.svg' %}">
		</div>
		<div class="col-1 card-ff align-self-center text-center">
			<div class="my-4 fw-bold">
				<h2>Online Game</h2>
				<p>Enjoy with your friends!</p>
			</div>
			<input class="btn btn-primary w-100 my-3" type="button" value="Create Room">
			<div class="separator text-secondary">Or</div>
			<input class="btn btn-secondary w-100 my-3" type="text" placeholder="room code">
			<input class="btn btn-primary w-100 my-3" type="button" value="Join room">
			<a class="text-light text-decoration-none fw-bold" href="./home">
				<i class="fa-solid fa-chevron-left"></i>
				Back
			</a>
		</div>
	</div>
</div>
{% endblock %}