{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<script>
		alert('{{ message }}')
	</script>
	{% endfor %}
</ul>
{% endif %}


<div class="justify-content-center" style="text-align: center;"> 
	<div class="wrapper justify-content-center" style="margin-top: 25vh;">

		<!-- Main game -->
		<div class="column content-solid card-main  mx-2">
			<img style="margin-top: 25px; width: 168px;"  src="{% static 'pongpong.png' %}">
			<div class="column mb-2 mt-5">
				<button id="singlePButton" type="button" class="btn btn-light" style="width: 39%; font-size: 1rem;" onclick="swapApp('/game/pong-ai')">1P</button>
				<button id="localPlay" type="button" class="btn btn-light" style="width: 39%; font-size: 1rem;" onclick="swapApp('/game/pong-local')">2P</button>
			</div>
			<button id="multiPButton" type="button" class="btn btn-light card-x-btn mb-4">
				<i class="bi bi-play-fill" style="width: 14px;"></i>
				Online Game
			</button>
			<a style="text-decoration: none; color: black;" onclick="swapApp('/game/tournament/')">
				<button type="button" class="btn btn-light card-x-btn mb-4">
					Tournament
				</button>
			</a>
		</div>

		<!-- 2Player -->
		<div class="column content-solid card-side mx-2" id="multiPCard">
			<form id="multiPlayerForm" method="post" action="{% url 'pong' %}">
			{% csrf_token %}
			<input type="hidden" name="mode" value="multiplayer">
				<div class="card-topic">MULTI PLAYER</div>
				<span style="font-size: 0.8rem; color: #ffffff; line-height: 0.7; font-family: monospace;">Enjoy with<br>your friend!</span><br>

				<button id="createRoomBtn" type="submit" name="type" value="create" class="btn btn-light card-m-btn my-2 mt-3" style="width: 60%;">Create Room</button>
				<div style="color: #ffffff;" class="my-2"> Or </div>
				<input class="input-box" type="text" name="room_code" placeholder="room code" style="width: 60%; text-align: center;">
				<button id="joinRoomBtn" type="submit" name="type" value="join" class="btn btn-light card-x-btn mb-4" style="width: 60%;">
					Join Room
				</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}