{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<script>
		alert('{{ message }}')
	</script>
	{% endfor %}
</ul>
{% endif %}


<div class="justify-content-center" style="text-align: center;"> 
	<div class="wrapper justify-content-center" style="margin-top: 25vh;">

		<!-- Main game -->
		<div class="column content-solid card-main  mx-2">
			<img style="margin-top: 25px; width: 168px;"  src="{% static 'pongpong.png' %}">
			<div class="column mb-2 mt-5">
				<button id="singlePButton" type="button" class="btn btn-light" style="width: 39%; font-size: 1rem;">1P</button>
				<button id="multiPButton" type="button" class="btn btn-light" style="width: 39%; font-size: 1rem;">2P</button>
			</div>
			<a style="text-decoration: none; color: black;" href="{% url 'tournament' %}">
				<button type="button" class="btn btn-light card-x-btn mb-4">
					Tournament
				</button>
			</a>
			<button id="settingButton" type="button" class="btn btn-light card-x-btn my-2">
				<i class="bi bi-gear-fill" style="width: 14px;"></i>
				Setting
			</button>
		</div>
		<!-- Setting game -->
		<div class="column content-solid card-side mx-2" id="settingCard">
			<div class="card-topic">Game Setting</div>
			<div class="column mb-2 mt-4">
				<div class="justify-content-between">
					<div class="card-content">Perspective</div>
					<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
						<input type="radio" class="btn-check" name="btnpsp" id="btnpsp1" autocomplete="off" checked>
						<label class="btn btn-light" for="btnpsp1">2D</label>
					  
						<input type="radio" class="btn-check" name="btnpsp" id="btnpsp2" autocomplete="off">
						<label class="btn btn-light" for="btnpsp2">3D</label>
					</div>
				</div>
			</div>
			<div class="card-content mt-3">Theme</div>
			<div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
				<input type="radio" class="btn-check" name="btntheme" id="btntheme1" autocomplete="off" checked>
				<label class="btn btn-light" for="btntheme1">Theme 1</label>
			  
				<input type="radio" class="btn-check" name="btntheme" id="btntheme2" autocomplete="off">
				<label class="btn btn-light" for="btntheme2">Theme 2</label>
			  
				<input type="radio" class="btn-check" name="btntheme" id="btntheme3" autocomplete="off">
				<label class="btn btn-light" for="btntheme3">Theme 3</label>
			  </div>
		</div>

		<!-- 1Player -->
		<div class="column content-solid card-side mx-2" id="singlePCard">
			<form id="singlePlayerForm" method="post" action="{% url 'pong' %}">
			{% csrf_token %}
			<input type="hidden" name="mode" value="singleplayer">
				<div class="card-topic">SINGLE PLAYER</div>
				<button type="submit" class="btn btn-light card-m-btn my-2 mt-5" name="difficulty" value="easy">Easy</button>
				<button type="submit" class="btn btn-light card-m-btn my-2" name="difficulty" value="medium">Medium</button>
				<button type="submit" class="btn btn-light card-m-btn my-2" name="difficulty" value="hard">Hard</button>
			</form>
		</div>
			<!-- 2Player -->
		<div class="column content-solid card-side mx-2" id="multiPCard">
			<form id="multiPlayerForm" method="post" action="{% url 'pong' %}">
			{% csrf_token %}
			<input type="hidden" name="mode" value="multiplayer">
				<div class="card-topic">MULTI PLAYER</div>
				<span style="font-size: 0.8rem; color: #ffffff; line-height: 0.7; font-family: monospace;">Enjoy with<br>your friend!</span><br>

				<button type="submit" name="type" value="create" class="btn btn-light card-m-btn my-2 mt-3" style="width: 60%;">Create Room</button>
				<div style="color: #ffffff;" class="my-2"> Or </div>
				<input class="input-box" type="text" name="room_code" placeholder="room code" style="width: 60%; text-align: center;">
				<button type="submit" name="type" value="join" class="btn btn-light card-x-btn mb-4" style="width: 60%;">
					Join Room
				</button>
			</form>
		</div>
	</div>
</div>

<script>
window.onload = function() {
    var settingCard = document.getElementById('settingCard');
    var singlePCard = document.getElementById('singlePCard');
    var multiPCard = document.getElementById('multiPCard');
	
    document.getElementById('settingButton').addEventListener('click', function() {
		singlePCard.classList.remove('active');
		multiPCard.classList.remove('active');
        settingCard.classList.toggle('active');
    });
	
    document.getElementById('singlePButton').addEventListener('click', function() {
		settingCard.classList.remove('active');
		multiPCard.classList.remove('active');
        singlePCard.classList.toggle('active');
    });
	
    document.getElementById('multiPButton').addEventListener('click', function() {
		settingCard.classList.remove('active');
		singlePCard.classList.remove('active');
        multiPCard.classList.toggle('active');
    });
};

</script>

{% endblock %}