{% extends 'base.html' %}

{% block site_title %}pong game{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
	.own-message {
		background-color: #343435;
		text-align: right;
	}
	.other-message {
		background-color: #6601FE;
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}
<div id="gameStatus">

	<!-- Room Code -->
	<div class="wrapper justify-content-center">
		<div class="content-solid rounded mt-4 px-2 py-2 wrapper justify-content-center" style="width: 60vw;">
			<div>
				<small> Game Pin :</small>
				<h1 class="display-2 fw-bolder">{{ room_code }}</h1>
			</div>
		</div>
	</div>
	<!-- Waiting -->
	<div class="wrapper justify-content-center row" style="text-align: center;">
		<div style="width: 30vw;">
			<div class="wrapper justify-content-between" style="margin-top: 25vh; margin-bottom: 10vh;">
				<h2 class="wrapper">
					<div class="chat-image mx-2">
						<img src="https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c" class="rounded-circle user_img">
					</div>
					{{ username }}
				</h2>
				<h1 class="fw-bolder">VS</h1>
				<h2 class="wrapper">
					<div class="chat-image mx-2">
						<img src="https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c" class="rounded-circle user_img">
					</div>
					<div id="opponentName">???</div>
				</h2>
			</div>
			<p class="mt-2">Waiting . . .</p>
			<a style="text-decoration: none; color: black;" href="/game">
				<button type="button" class="btn btn-light card-x-btn mb-4">
					cancel
				</button>
			</a>
		</div>
	</div>


		<!-- <h1>{{ room_code }}</h1>
		<p>{{ username }}<small style="font-size: small">(you)</small> Score: <span id="userScore">0</span></p>
		<p><span id="opponentName">opponent</span> Score: <span id="opponentScore">0</span></p>
		<button onclick="increaseScore()">Click</button> -->
</div>
{% endblock %}

{% block body-script %}
<script>
	let userScore = parseInt(document.getElementById("userScore").textContent);
	let opponentScore = parseInt(document.getElementById("opponentScore").textContent);
	const roomCode = "{{ room_code }}";
	const username = "{{ username }}";
	const playerNo = "player1";
	const pongSocket = new WebSocket("ws://" + window.location.host + "/ws/game/" + roomCode + "/" + username + "/");

	pongSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
		// Send message requesting username of other player
		pongSocket.send(JSON.stringify({ score: 0, start_point: true }));
	};
	pongSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	pongSocket.error = function (e) {
		console.log("error !");
	};
	pongSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		if (userScore < 10 && opponentScore < 10 && data.exit)
			document.getElementById("gameStatus").innerHTML = "<h1>Your opponent LEAVE GAME!!</h1>";
		else if (!data.exit && data.username != username) {
			document.getElementById("opponentName").textContent = data.username;
			document.getElementById("opponentScore").innerHTML = data.score;
			opponentScore = data.score;
			if (data.start_point)
				pongSocket.send(JSON.stringify({ score: 0, start_point: false }));
		}
		checkWinLose();
	};
	
	function increaseScore() {
		userScore++;
		document.getElementById("userScore").innerHTML = userScore;
		pongSocket.send(JSON.stringify({ score: userScore, start_point: false }));
	}
	function checkWinLose() {
		const gameStatus = document.getElementById("gameStatus");
		if (userScore >= 10) {
			gameStatus.innerHTML = "<h1>You Win!</h1>"
		} else if (opponentScore >= 10) {
			gameStatus.innerHTML = "<h1>You Lose!</h1>"
		}
	}

</script>
{% endblock %}