{% extends 'base.html' %}

{% block site_title %}pong game{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
	.own-message {
		background-color: #343435;
		text-align: right;
	}
	.other-message {
		background-color: #6601FE;
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}
<div id="gameStatus">
	<h1>{{ room_code }}</h1>
	<p>{{ username }}<small style="font-size: small">(you)</small> Score: <span id="userScore">0</span></p>
	<p><span id="opponentName">opponent</span> Score: <span id="opponentScore">0</span></p>
	<button onclick="increaseScore()">Click</button>
</div>
{% endblock %}

{% block body-script %}
<script>
	let userScore = parseInt(document.getElementById("userScore").textContent);
	let opponentScore = parseInt(document.getElementById("opponentScore").textContent);
	const roomCode = "{{ room_code }}";
	const username = "{{ username }}";
	const playerNo = "player1";
	const pongSocket = new WebSocket("ws://" + window.location.host + "/ws/game/" + roomCode + "/" + username + "/");

	pongSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
		// Send message requesting username of other player
		pongSocket.send(JSON.stringify({ score: 0, start_point: true }));
	};
	pongSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	pongSocket.error = function (e) {
		console.log("error !");
	};
	pongSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		if (userScore < 10 && opponentScore < 10 && data.exit)
			document.getElementById("gameStatus").innerHTML = "<h1>Your opponent LEAVE GAME!!</h1>";
		else if (!data.exit && data.username != username) {
			document.getElementById("opponentName").textContent = data.username;
			document.getElementById("opponentScore").innerHTML = data.score;
			opponentScore = data.score;
			if (data.start_point)
				pongSocket.send(JSON.stringify({ score: 0, start_point: false }));
		}
		checkWinLose();
	};
	
	function increaseScore() {
		userScore++;
		document.getElementById("userScore").innerHTML = userScore;
		pongSocket.send(JSON.stringify({ score: userScore, start_point: false }));
	}
	function checkWinLose() {
		const gameStatus = document.getElementById("gameStatus");
		if (userScore >= 10) {
			gameStatus.innerHTML = "<h1>You Win!</h1>"
		} else if (opponentScore >= 10) {
			gameStatus.innerHTML = "<h1>You Lose!</h1>"
		}
	}

</script>
{% endblock %}