{% extends 'base.html' %}
{% load static %}
{% block site_title %}pong game{% endblock %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/pong.css' %}">
{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
	.own-message {
		background-color: #343435;
		text-align: right;
	}
	.other-message {
		background-color: #6601FE;
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}

<div class="justify-content-center popup-menu" id="popUp">
	<div class="wrapper justify-content-center" style="margin-top: 30vh; margin-left: 100px;">
		<div class="d-flex row content-solid card-main mx-2 pt-5" style="width:  30%;">
			<h1 id="popUpStatus"></h1>
			<div class="wrapper justify-content-center">
				<h4 id="player1ScorePopUp">0</h4>
				<h4> : </h4>
				<h4 id="player2ScorePopUp">0</h4>
			</div>
			<a href="/game" onclick="donePopUp();">
				<button type="button" class="btn btn-light mt-3" style="width: 35%; font-size: 1rem;">
					Done
				</button>
			</a>
		</div>
		
	</div>
</div>

<div id="gameStatus" style="z-index: 2;">

	<!-- Waiting -->
	
	<div style="display: block;" id="waiting-content">
		<div class="wrapper justify-content-center">
			<div class="content-solid rounded mt-4 px-2 py-2 wrapper justify-content-center" style="width: 60vw;">
				<div>
					<small> Game Pin :</small>
					<h1 class="display-2 fw-bolder">{{ room_code }}</h1>
				</div>
			</div>
		</div>
		<div class="wrapper justify-content-center row" style="text-align: center;">
			<div style="width: 30vw;">
				<div class="wrapper justify-content-between" style="margin-top: 25vh; margin-bottom: 10vh;">
					<h2 class="wrapper">
						<div class="chat-image mx-2">
							<img src="{% static profile_image %}" class="rounded-circle user_img">
						</div>
						{{ username }}
					</h2>
					<h1 class="fw-bolder">VS</h1>
					<h2 class="wrapper">
						<div class="chat-image mx-2">
							<img src="{% static default_image %}" class="rounded-circle user_img">
						</div>
						<div>???</div>
					</h2>
				</div>
				<p class="mt-2">Waiting . . .</p>
				<a style="text-decoration: none; color: black;" href="/game">
					<button type="button" class="btn btn-light card-x-btn mb-4">
						cancel
					</button>
				</a>
			</div>
		</div>
	</div>



	<!-- GAME -->

	<div style="display: none;" id="game-content">
		<div class="wrapper justify-content-center">
			<div class="content-solid rounded mt-4 px-3 py-2 wrapper justify-content-around align-items-center" style="width: 60vw;">
				<div>
					<small> Game Pin :</small>
					<h1 class="display-2 fw-bolder">{{ room_code }}</h1>
				</div>
				<div class="wrapper align-items-center">
					<h3 id="player1Top">{{ player1 }}</h3>
					<h2 class="fw-bolde mx-3">VS</h2>
					<h3 id="player2Top">{{ player2 }}</h3>
				</div>
	
			</div>
		</div>
		<div class="wrapper justify-content-center" style="width: 100%">
			<div class="col-2 p-3 mt-4 justify-content-center text-center">
				<div class="user-image">
					<img src="https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c" class="rounded-circle user_img">
				</div>
				<h4 id="player1">{{ username }}</h4>
				<h1 class="mt-5" id="player1Score">0</h1>
	
				<button onclick="increaseScore()">Click</button>
			</div>
			<div class="justify-content-center wrapper" style="width: 100%;">
				<div class="col-12 p-3 profile-solid mt-4 mx-3 rounded justify-content-center">
					<div class="game-panel">
						<canvas id="board"></canvas>
					</div>
					<div class="my-2">
						<div class="progress" style="border: 2px solid #b3b3b3;">
							<div ></div>
							<div id="userScale" class="progress-bar-striped progress-bar-animated progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
							<div id="blankScale" class="progress-bar bg-dark" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100"></div>
							<div id="opponentScale" class="progress-bar-striped progress-bar-animated progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2 p-3 mt-4 justify-content-center text-center">
				<div class="user-image">
					<img src="https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c" class="rounded-circle user_img">
				</div>
				<h4 id="player2">???</h4>
				<h1 class="mt-5" id="player2Score">0</h1>
			</div>
		</div>
	</div>




</div>
{% endblock %}

{% block body-script %}
<script>
	let userScore;
	let opponentScore;
	let animationId;
	const roomCode = "{{ room_code }}";
	const username = "{{ username }}";
	const playerNo = "{{ playerNo }}";
	const pongSocket = new WebSocket("wss://" + window.location.host + "/ws/game/" + roomCode + "/" + username + "/");

	pongSocket.onopen = function (e) {
		if (playerNo == 1) {
			userScore = parseInt(document.getElementById("player1Score").textContent);
			opponentScore = parseInt(document.getElementById("player2Score").textContent);
			document.getElementById("player1Top").innerHTML = username;
			document.getElementById("player1").innerHTML = username;
		} else if (playerNo == 2) {
			userScore = parseInt(document.getElementById("player2Score").textContent);
			opponentScore = parseInt(document.getElementById("player1Score").textContent);
			document.getElementById("player2Top").innerHTML = username;
			document.getElementById("player2").innerHTML = username;
		}
		console.log("The connection was setup successfully !");
		if (playerNo == 2) {
			document.getElementById("waiting-content").style.display = 'none';
			document.getElementById("game-content").style.display = 'block';
			animationId = requestAnimationFrame(update);
			document.addEventListener("keydown", movePlayer);
			document.addEventListener("keyup", stopPlayer);
		}
		// Send message requesting username of other player
		pongSocket.send(JSON.stringify({ score: 0, start_point: true, moving: "no", ball: false }));
	};
	pongSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	pongSocket.error = function (e) {
		console.log("error !");
	};
	pongSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		if (userScore < 10 && opponentScore < 10 && data.exit)
			opponentLeave();
		else if (!data.exit && data.username != username) { // opponent information
			if (playerNo == 1){
				document.getElementById("player2Top").innerHTML = data.username;
				document.getElementById("player2").innerHTML = data.username;
				document.getElementById("player2Score").innerHTML = data.score;
				document.getElementById("player2ScorePopUp").innerHTML = data.score;
			}
			else if (playerNo == 2){
				document.getElementById("player1Top").innerHTML = data.username;
				document.getElementById("player1").innerHTML = data.username;
				document.getElementById("player1Score").innerHTML = data.score;
				document.getElementById("player1ScorePopUp").innerHTML = data.score;
			}
			if (data.moving == "up" || data.moving == "down" || data.moving == "stop")
				moveOpponent(data.moving);
			opponentScore = data.score;
			changeScale();
			if (data.start_point){
				document.getElementById("waiting-content").style.display = 'none';
				document.getElementById("game-content").style.display = 'block';
				animationId = requestAnimationFrame(update);
				document.addEventListener("keydown", movePlayer);
				document.addEventListener("keyup", stopPlayer);
				pongSocket.send(JSON.stringify({ score: 0, start_point: false, moving: "no", ball:false }));
			}
			if (data.ball) {
				ball.x = data.ballX;
				ball.y = data.ballY;
			}
		}
		checkWinLose();
	};
	
	function changeScale() {
		if (playerNo == 1) {
			document.getElementById("opponentScale").style.width = opponentScore * 5 + "%";
			document.getElementById("userScale").style.width = userScore * 5 + "%";
			document.getElementById("blankScale").style.width = (20 - userScore - opponentScore) * 5 + "%";
		}
		else if (playerNo == 2) {
			document.getElementById("opponentScale").style.width = userScore * 5 + "%";
			document.getElementById("userScale").style.width = opponentScore * 5 + "%";
			document.getElementById("blankScale").style.width = (20 - userScore - opponentScore) * 5 + "%";
		}
	}

	function increaseScore() {
		userScore++;
		if (playerNo == 1) {
			document.getElementById("player1Score").innerHTML = userScore;
			document.getElementById("player1ScorePopUp").innerHTML = userScore;
		}
		else if (playerNo == 2) {
			document.getElementById("player2Score").innerHTML = userScore;
			document.getElementById("player2ScorePopUp").innerHTML = userScore;
		}
		changeScale();
		pongSocket.send(JSON.stringify({ score: userScore, start_point: false, moving: "no", ball: false }));
	}
	function checkWinLose() {
		const gameStatus = document.getElementById("gameStatus");
		if (userScore >= 10) {
			showPopUp("YOU WIN!!")
			if (animationId){
				cancelAnimationFrame(animationId);
				// animationId = null;
			}
		} else if (opponentScore >= 10) {
			showPopUp("YOU LOSE!!")
			if (animationId) {
				cancelAnimationFrame(animationId);
				// animationId = null;
			}
		}
	}
	function showPopUp(str) {
		document.getElementById("popUp").style.display = 'block';
		document.getElementById("popUpStatus").innerHTML = str;
	}
	function donePopUp() {
		document.getElementById("popUp").style.display = 'none';
	}
	function opponentLeave() {
		document.getElementById("gameStatus").innerHTML = "<h1>Your opponent LEAVE GAME!!</h1>";
		document.getElementById("gameStatus").style = 'text-align: center; margin-top: 40vh;';
	}
</script>
<script src="{% static 'js/pong.js' %}"></script>
{% endblock %}