{% extends 'base.html' %}

{% block site_title %}queue{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
	.own-message {
		background-color: #343435;
		text-align: right;
	}
	.other-message {
		background-color: #6601FE;
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}

{% endblock %}

{% block body-script %}
<script>
	const queueSocket = new WebSocket("ws://" + window.location.host + "/ws/game/queue/");

	queueSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	queueSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};

</script>
{% endblock %}