{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="z-index: 2; color: white;">


	<!-- Head -->

	<div id="header" class="wrapper justify-content-center" style="display:flex;">
		<div class="content-solid rounded mt-4 p-3 wrapper justify-content-center" style="width: 60vw;">
			<div class="display-2 fw-bolder">{{ num_players }}P</div>
			<div class="p-2">
				<div class="fw-bolder" style="font-size: 2.2rem; margin-bottom: -0.8rem;">Tournament</div>
				<small> Round Robin </small>
			</div>
		</div>
	</div>

	<!-- Body -->

	<div class="wrapper justify-content-center" style="text-align: center;">
		<div class="row justify-content-center">
			<!-- all player -->
			<div id="all-player-h" class="row justify-content-center" style="margin-bottom: 10vh; height: 40vh;">
				<div id="flex-box" style="height: 5vh;"></div>
				<div id="all-player-w" class="row" style="width: 60vw;">

					<!-- user -->
					<div class="col-3 wrapper justify-content-center">
						<img src="{% if participants|length > 0 %}{{ participants.0.user.profile_image.url }}{% else %}https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c{% endif %}"
							class="rounded-circle player-image mx-2">
						<h4 id="player0">{% if participants|length > 0 %}{{ participants.0.nickname }}{% else %}???{% endif %}</h4>
					</div>

					<div class="col-3 wrapper justify-content-center">
						<img src="{% if participants|length > 1 %}{{ participants.1.user.profile_image.url }}{% else %}https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c{% endif %}"
							class="rounded-circle player-image mx-2">
						<h4 id="player1">{% if participants|length > 1 %}{{ participants.1.nickname }}{% else %}???{% endif %}</h4>
					</div>

					<div class="col-3 wrapper justify-content-center">
						<img src="{% if participants|length > 2 %}{{ participants.2.user.profile_image.url }}{% else %}https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c{% endif %}"
							class="rounded-circle player-image mx-2">
						<h4 id="player2">{% if participants|length > 2 %}{{ participants.2.nickname }}{% else %}???{% endif %}</h4>
					</div>

					<div class="col-3 wrapper justify-content-center">
						<img src="{% if participants|length > 3 %}{{ participants.3.user.profile_image.url }}{% else %}https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c{% endif %}"
							class="rounded-circle player-image mx-2">
						<h4 id="player3">{% if participants|length > 3 %}{{ participants.3.nickname }}{% else %}???{% endif %}</h4>
					</div>

				</div>
			</div>

			<!-- cancel btn -->
			<div id="waiting-start" style="width: 30vw; display: block;">
				<p class="mt-2">Waiting . . .</p>
				<!-- <a style="text-decoration: none; color: black;" href="/game/tournament">
				<button type="button" class="btn btn-light card-x-btn mb-4">
					cancel
				</button>
			</a> -->
				<a style="text-decoration: none; color: black;" href="javascript:void(0);" onclick="swapApp('/game/tournament/')">
					<button type="button" class="btn btn-light card-x-btn mb-4">
						cancel
					</button>
				</a>
			</div>

		</div>
	</div>

	<!-- board and match -->
	<div id="board-match" class="justify-content-center px-5 mb-5" style="display:none; height: 60vh;">
		<div class="row" style="width: 60vw;">
			<div class="col-8 text-center">
				<div class="p-1 score-board">
					<table class="table table-striped mt-2">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Play</th>
								<th scope="col">Win</th>
								<th scope="col">Draw</th>
								<th scope="col">Lose</th>
								<th scope="col">+/-</th>
								<th scope="col">Points</th>
							</tr>
						</thead>
						<tbody>
							{% for i in range_num_players %}
							<tr>
								<th scope="row">{{i}}</th>
								<td>{ username }</td>
								<td>0</td> <!-- play -->
								<td>0</td> <!-- win -->
								<td>0</td> <!-- draw -->
								<td>0</td> <!-- lose -->
								<td>0</td> <!-- + - -->
								<td>0</td> <!-- point -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<!-- card -->
			<div class="col-4  text-center">
				<div class="row justify-content-center">
					<div class="column content-solid card-main  mx-2" style="width: 20vw; background-color: #212529;">
						<h2 class="my-3" style="text-shadow: 0 5px 10px #ffffffb4;">Round x</h2>
						<div class="mt-5">
							<img src="https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c"
								class="rounded-circle user_img mx-2">
							<h4 id="player">???</h4>
							<div id="opponentReadyText" style="display: none;">
								I'm Ready
								<i class="bi bi-emoji-grin-fill"></i>
							</div>
							<div id="opponentNotReadyText" style="display: block;">
								Wait a minute
								<i class="bi bi-emoji-smile-upside-down-fill"></i>
								. . .
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center mt-3">
					<div class="column content-solid card-main py-4 mx-2" style="width: 20vw; background-color: #212529;">
						Are you Ready ?
						<button id="readyButton" type="button" class="btn btn-outline-light card-x-btn my-2" onclick="ready()" >
							Ready
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>


</div>
{% endblock %}

{% block body-script %}
<script>
	var mode = "{{num_players}}";
	let tournament_name = "{{ tournament.name }}";

	window.onload = function () {
		if (mode == 4) {
			document.getElementById("flex-box").style.height = '20vh';
		} else if (mode == 8) {
			document.getElementById("flex-box").style.height = '10vh';
		}
	}

	tournamentSocket = new WebSocket("wss://" + window.location.host + "/ws/game/tournament/" + tournament_name + "/");
	tournamentSocket.onopen = function (e) {
		console.log("tournament socket connected");
	};

	tournamentSocket.onclose = function (e) {
		console.log("tournament socket disconnect");
	};

	tournamentSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		if (data.action === "message") {
			console.log(data.message);
		}
		else if (data.action === "player_in_out") {
			updatePlayerList(data.player_list);
		}
	};

	function updatePlayerList(players) {
		const playerElements1 = document.querySelectorAll("#all-player-w h4");
		playerElements1.forEach((el, index) => {
			if (index < players.length) {
				el.textContent = players[index].username;
			} else {
				el.textContent = "???";
			}
		});
		const playerElements2 = document.querySelectorAll("#all-player-w img");
		playerElements2.forEach((el, index) => {
			if (index < players.length) {
				el.src = players[index].image;
			} else {
				el.src = "https://img.freepik.com/free-psd/portrait-teenage-boy-white-hoodie-gray-background_1142-60290.jpg?w=1380&t=st=1714908991~exp=1714909591~hmac=4ec5e60aa745cb307b99286ad267b22f9caf2aa29bc752612cc5d53402e9476c";
			}
		});
		if (players.length == 4)
			doneWaiting();
	}

	function doneWaiting() {
		document.getElementById("flex-box").style.height = '0';
		document.getElementById("waiting-start").style.display = 'none';
		document.getElementById("board-match").style.display = 'grid';
		document.getElementById("all-player-w").style.width = '60vw';
		document.getElementById("all-player-h").classList.add("mt-2", "p-3", "wrapper");
		document.getElementById("all-player-h").style.backgroundColor = '';
		document.getElementById("all-player-h").style.height = '15vh';
		document.getElementById("all-player-h").style.marginBottom = '';
	}
	function ready() {
		document.getElementById("readyButton").classList.toggle('btn-light');
		document.getElementById("readyButton").classList.toggle('btn-outline-light');
	}

	function opponentReady() {
	}
</script>

{% endblock %}s
<!-- 

	PLAYER
		id = player
		status -> normal, playing, ready


 -->