{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="justify-content-center" style="text-align: center;"> 
	<div class="wrapper justify-content-center" style="margin-top: 23vh;">

		<!-- board -->
		<!-- <div class="column content-solid card-side mx-2" id="scoreCard">
			<div class="card-topic">Score board</div>
		</div> -->
		<!-- Main game -->
		<div class="column content-solid card-main  mx-2">
			<img style="margin-top: 25px; width: 168px;"  src="{% static 'pongpong.png' %}">
			<br><span style="font-family:monospace; font-size:larger;">Tournament!!</span>
			<form id="joinTournamentForm" class="mt-4" method="post">
				<input class="input-box" name="aka" type="text" placeholder="Name" style="height: 42px; text-align: center;">
				{% csrf_token %}
				<div class="column mb-3">
					<div class="justify-content-between">
						<input type="radio" class="btn-check" name="num_players" id="btn-np-1" value="4" autocomplete="off" checked>
						<label class="btn btn-outline-dark" for="btn-np-1" style="width: 38%">4</label>
						{% comment %} <input type="radio" class="btn-check" name="num_players" id="btn-np-2" value="8" autocomplete="off">
						<label class="btn btn-outline-dark" for="btn-np-2" style="width: 38%">8</label> {% endcomment %}
						<div class="mt-1" style="font-size: small;">Number of Player</div>
					</div>
				</div>
				<button type="submit" class="btn btn-dark card-x-btn mb-4">
					Join
				</button>
		</div>
	</div>
</div>

{% endblock %}s