{% extends "panel.html" %}
{% load static %}

{% block header %}
<script src="{% static 'js/form_validation.js' %}" defer="true"></script>
{% endblock %}

{% block panel %}
<div class="card-form">
	<p class="card-form-title">Login</p>
	<form action="/api/v1/login/" method="POST" redirect="{{ redirect }}">
		{% csrf_token %}
		<div class="form-group mb-3">
			<label class="form-label visually-hidden" for="email">Username</label>
			<input class="form-control" type="email" name="email" placeholder="email" required="true"/>
		</div>
		<div class="form-group">
			<label class="form-label visually-hidden" for="passwd">Password</label>
			<input class="form-control" type="password" name="password" placeholder="password" required="true"/>
		</div>
		<button type="submit" class="btn btn-primary w-100 my-3">Sign in</button>
		<div class="separator text-secondary">Or</div>
		<div class="form-group">
			<a class="btn btn-primary w-100 my-3" href="/oauth_42" no-route>Continue with 42</a>
			<a class="btn btn-primary w-100 mb-3" href="/oauth_google" no-route>Continue with Google</a>
		</div>
	</form>
</div>
<a class="m-3 text-secondary fw-bold" href="/signup">
	Don't have an account?
	<span class="text-primary pe-none">Register</span>
</a>
{% endblock %}