{% extends 'base.html' %}

{% load static %}
{% block style %}
<style>
	body {
		color: white;
	}
	a {
		text-decoration: none;
	}
</style>
{% endblock %}

{% block content %}

<div class="container pt-3">

	<div class="row">
		<!-- friend chat -->
		<div class="col-md-3 col-lg-2 content-friend px-4 py-4 mx-1 mt-2" style="height: 90vh;">
			<div class="profile-main-text text-center mb-3">Chat</div>
			<!-- friend chat -->
			<div class="chat-h-body h-75">
				<ui class="chat-contacts">
					{% if rooms %}
						{% for loop_room in rooms %}
							<a onclick="swapApp('/chat/{{ loop_room.slug }}')">
								<li class="chat-box {% if room.slug == loop_room.slug %}active{% endif %}">
									<div class="d-flex bd-highligh align-items-center profile-content-text py-1">
										<div class="chat-image me-2">
											<img src="{% if loop_room.user1 == request.user %}{{ loop_room.user2.profile_image.url }}{% else %}{{ loop_room.user1.profile_image.url }}{% endif %}" class="rounded-circle user_img">
											{% if loop_room.user1 == request.user and loop_room.user2.active %}
												<span class="online_icon"></span>
											{% elif loop_room.user2 == request.user and loop_room.user1.active %}
												<span class="online_icon"></span>
											{% else %}
												<span class="online_icon offline"></span>
											{% endif %}
										</div>
										<span>{% if loop_room.user1 == request.user %}{{loop_room.user2.username}}{% else %}{{loop_room.user1.username}}{%endif%}</span><br>
									</div>
								</li>
							</a>
						{% endfor %}
					{% endif %}
				</ui>
			</div>
		</div>

		<!-- main -->
		<div class="col-md-8 col-lg-9 content-friend px-4 py-4 mx-1 mt-2 pb-5"></div>

	</div>

</div>

{% endblock %}