{% extends 'base.html' %}

{% block site_title %}Chat Page{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
</style>
{% endblock %}

{% block content %}
<div>
	<h1> Chatroom list </h1>
</div>
<div>
	{% if rooms %}
		{% for room in rooms %}
			{% if room.user1 == request.user or room.user2 == request.user %}
				<a href="{{room.slug}}">
					{% if room.user1 == request.user %}
						{{ room.user2 }}
					{% else %}
						{{ room.user1 }}
					{% endif %}
				</a>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
{% block room-content %}{% endblock %}
{% endblock %}