{% extends 'base.html' %}

{% block site_title %}Chat Page{% endblock %}
{% load static %}
{% block style %}
<style>
	body {
		color: white;
	}
	a {
		text-decoration: none;
	}
</style>
{% endblock %}

{% block content %}

<div class="container pt-3">

	<div class="row">
		<!-- friend chat -->
		<div class="col content-friend px-4 py-4 mx-1 mt-2" style="height: 90vh;">
			<div class="profile-main-text text-center mb-3">Chat</div>
			<!-- friend chat -->
			<div class="chat-h-body h-75">
				<ui class="chat-contacts">
					{% if rooms %}
					{% for room in rooms %}
						{% if room.user1 == request.user and room.user2.active %}
							<a href="{{ room.slug }}">
								<li class="chat-box">
									<div class="d-flex bd-highligh align-items-center profile-content-text py-1">
										<div class="chat-image">
											<img src="{% static room.user2.profile_image %}" class="rounded-circle user_img">
											<span class="online_icon"></span>
										</div>
										<div class="px-2">
											<span>{{room.user2.username}}</span><br>
											<span class="profile-label-text">last text</span>
										</div>
										<div class="px-2 align-items-end ms-auto">
											<p>00:00</p>
										</div>
									</div>
								</li>
							</a>
						{% elif room.user2 == request.user and room.user1.active %}
							<a href="{{ room.slug }}">
								<li class="chat-box">
									<div class="d-flex bd-highligh align-items-center profile-content-text py-1">
										<div class="chat-image">
											<img src="{% static room.user1.profile_image %}" class="rounded-circle user_img">
											<span class="online_icon"></span>
										</div>
										<div class="px-2">
											<span>{{room.user1.username}}</span><br>
											<span class="profile-label-text">last text</span>
										</div>
										<div class="px-2 align-items-end ms-auto">
											<p>00:00</p>
										</div>
									</div>
								</li>
							</a>
						{% endif %}
					{% endfor %}
					{% for room in rooms %}
							{% if room.user1 == request.user and not room.user2.active %}
								<a href="{{ room.slug }}">
									<li class="chat-box">
										<div class="d-flex bd-highligh align-items-center profile-content-text py-1">
											<div class="chat-image">
												<img src="{% static room.user2.profile_image %}" class="rounded-circle user_img">
												<span class="online_icon offline"></span>
											</div>
											<div class="px-2">
												<span>{{room.user2.username}}</span><br>
												<span class="profile-label-text">last text</span>
											</div>
											<div class="px-2 align-items-end ms-auto">
												<p>00:00</p>
											</div>
										</div>
									</li>
								</a>	
							{% elif room.user2 == request.user and not room.user1.active %}
								<a href="{{ room.slug }}">
									<li class="chat-box">
										<div class="d-flex bd-highligh align-items-center profile-content-text py-1">
											<div class="chat-image">
												<img src="{% static room.user1.profile_image %}" class="rounded-circle user_img">
												<span class="online_icon offline"></span>
											</div>
											<div class="px-2">
												<span>{{room.user1.username}}</span><br>
												<span class="profile-label-text">last text</span>
											</div>
											<div class="px-2 align-items-end ms-auto">
												<p>00:00</p>
											</div>
										</div>
									</li>
								</a>
							{% endif %}
					{% endfor %}
					{% endif %}
				</ui>
			</div>
		</div>

		<!-- main -->
		<div class="col-md-9 content-friend px-4 py-4 mx-1 mt-2 pb-5"></div>

	</div>

</div>

{% endblock %}

{% block body-script %}
<script>
	{% comment %} const friends = {{ friends }} {% endcomment %}
	onlineSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		console.log(data.username + " " + data.online);
	};
</script>
{% endblock %}