{% extends 'base.html' %}

{% block site_title %}{{ room.slug }}{% endblock %}

{% block style %}
<style>
	body {
		color: white;
	}
	.own-message {
		background-color: #343435;
		text-align: right;
	}
	.other-message {
		background-color: #6601FE;
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}
<div>
	<h1> Chatroom list </h1>
</div>
<div>
	{% if rooms %}
	{% for room in rooms %}
		{% if room.user1 == request.user or room.user2 == request.user %}
			<a href="../{{room.slug}}">
				{% if room.user1 == request.user %}
					{{ room.user2 }}
				{% else %}
					{{ room.user1 }}
				{% endif %}
			</a>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
<div class="id_chat_item_container" id="id_chat_item_container" style="font-size: 20px">
	{% for message in messages %}
	<div class="{% if message.user.username == request.user.username %}own-message{% else %}other-message{% endif %}">
		{{ message.content }}
	</div>
	{% comment %} <p>{{ message.user.username }}: {{ message.content }} <small>---{{ message.create_on }}</small></p> {% endcomment %}
	{% endfor %}
</div>
<br />
<input type="text" id="id_message_send_input" />
<button type="submit" id="id_message_send_button">Send Message</button>
{% endblock %}

{% block body-script %}
<script>
	const roomSlug = "{{ room.slug }}";
	const roomName = "{{ room.name }}";
	const username = "{{ request.user.username }}"
	const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomSlug + "/");
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	chatSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
			document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
			"#id_message_send_input"
		).value;
		chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}", room_name: roomName}));
		document.querySelector("#id_message_send_input").value = "";
	};
	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		var div = document.createElement("div");
		div.innerHTML = data.message;

		if (data.username === username) {
			div.className = "own-message";
		} else {
			div.className = "other-message";
		}
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div);
	};
</script>
{% endblock %}