{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	{% if page_title %}
	<title> {{ page_title }} </title>
	{% else %}
	<title> Pong! </title>
	{% endif %}
	<link rel="icon" href="{% static 'assets/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}" defer="true"></script>
	<script src="{% static 'js/router.js' %}" type="module" defer="true"></script>
	<script src="{% static 'js/main.js' %}" type="module" defer="true"></script>
	{% block header %}{% endblock %}
</head>
<body>
	<div class="main-content-header text-white position-fixed end-0 z-1 navbar"></div>
	<div id="main-content-container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>