{% load static %}

<li class="nav-item nav-btn rounded mx-auto {% if request.path == '/game' %}active{% endif %}">
    <a class="nav-link nav-btn rounded" href="{% url 'game' %}">
        <i class="bi bi-joystick" style="font-size: 1.2rem;"></i>
        <br><span>Game</span>
    </a>
</li>
<li class="nav-item nav-btn rounded mx-auto {% if request.path == '/tournament' %}active{% endif %}">
    <a class="nav-link nav-btn rounded" href="{% url 'login' %}">
        <i class="bi bi-trophy-fill" style="font-size: 1.2rem;"></i>
        <br><span>Tournament</span>
    </a>
</li>

<li class="nav-item nav-btn rounded mx-auto mt-auto {% if request.path == '/login' %}active{% endif %}">
    <a class="nav-link nav-btn rounded" href="{% url 'login' %}">
        <i class="bi bi-box-arrow-in-right" style="font-size: 1.2rem;"></i>
        <br><span>Login</span>
    </a>
</li>
