{% load static %}

{% url 'profile' username=user.username as user_url %}
<li class="nav-item nav-btn mx-auto {% if request.path == user_url %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'profile' username=user.username %}">
        <img style="max-width: 40px; border-radius: 100%;"  src="{% static 'profile_pic.png' %}">
        <br><span>{{ user.username }}</span>
    </a>
</li>
<li class="nav-item nav-btn mx-auto {% if request.path == '/game/' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'game' %}">
        <i class="bi bi-joystick" style="font-size: 1.2rem;"></i>
        <br><span>Game</span>
    </a>
</li>
<li class="nav-item nav-btn mx-auto {% if request.path == '/game/tournament' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'tournament' %}">
        <i class="bi bi-trophy-fill" style="font-size: 1.2rem;"></i>
        <br><span>Tournament</span>
    </a>
</li>
<li class="nav-item nav-btn mx-auto {% if request.path != "/" and request.path|slice:":5" in '/chat' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'chat' %}">
        <i class="bi bi-chat-left-fill" style="font-size: 1.2rem;"></i>
        <br><span>Chat</span>
    </a>
</li>
<li class="nav-item nav-btn mx-auto {% if request.path == '/users/friend' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'friend' %}">
        <i class="bi bi-people-fill" style="font-size: 1.2rem;"></i>
        <br><span>Friend</span>
    </a>
</li>

<li class="nav-item nav-btn mx-auto mt-auto {% if request.path == '/setting' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'setting' %}">
        <i class="bi bi-gear-fill" style="font-size: 1.2rem;"></i>
        <br><span>Setting</span>
    </a>
</li>
<li class="nav-item nav-btn mx-auto {% if request.path == '/login' %}active{% endif %}">
    <a class="nav-link nav-btn" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-left" style="font-size: 1.2rem;"></i>
        <br><span>Logout</span>
    </a>
</li>
