{% block notification_content %}
<div class="d-inline-block card-ff m-3">
	Notification
</div>
<hr class="my-2">
<a class="btn btn-block btn-dark rounded-0 w-100 m-0 px-3 py-2" data-mdb-button-init data-mdb-ripple-init tabindex="0">
	<span class="float-start">
		<i class="fa-solid fa-people-group fa-gutter"></i>
		Community
	</span>
</a>
<a class="btn btn-block btn-dark rounded-0 w-100 m-0 px-3 py-2" data-mdb-button-init data-mdb-ripple-init tabindex="0">
	<span class="float-start">
		<i class="fa-solid fa-gear fa-gutter"></i>
		Settings
	</span>
</a>
<hr class="my-0">
<a class="btn btn-block btn-dark rounded-0 w-100 m-0 px-3 py-2" data-mdb-button-init data-mdb-ripple-init tabindex="0">
	<span class="float-start">
		<i class="fa-solid fa-sign-out-alt fa-gutter"></i>
		Logout
	</span>
</a>
{% endblock %}