{% extends "navbar.html" %}
{% load static %}

{% block navbar %}

<div class="w-100 position-relative d-flex flex-grow-1 my-5 my-lg-0">
	<div class="w-100 my-auto d-flex flex-column py-2">
        <div class="d-flex flex-column align-items-center justify-content-center my-auto">
            <div class="card-my-sm">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn" onclick="javascript:history.back()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button type="button" class="btn" onclick="location.href='/settings'">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <p class="card-my-title py-4">Manage Blocking</p>
                <ul class="list-group mb-4">
                    <li class="list-group-item list-menu">
                        <div class="d-flex flex-row align-items-center">
                            <div class="pfp-2 my-auto me-2 float-start"></div>
                            <span class="d-block">Adam</span>
                        </div>
                        <button class="btn btn-sm btn-outline-light">Unblock</button>
                    </li>
                    <li class="list-group-item list-menu">
                        <div class="d-flex flex-row align-items-center">
                            <div class="pfp-2 my-auto me-2 float-start"></div>
                            <span class="d-block">Adam</span>
                        </div>
                        <button class="btn btn-sm btn-outline-light">Unblock</button>
                    </li>
                    <li class="list-group-item list-menu">
                        <div class="d-flex flex-row align-items-center">
                            <div class="pfp-2 my-auto me-2 float-start"></div>
                            <span class="d-block">Adam</span>
                        </div>
                        <button class="btn btn-sm btn-outline-light">Unblock</button>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</div>

{% endblock %}