@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: radial-gradient(#1a1a1a 5%,#131313 95%);
    background-size: 100vh 100vw;
    background-position-x: center;
    background-origin: content-box;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 100px;
    height: 100%;
    background-color:rgb(35, 35, 35);
    
    text-align: center;
}
.wrapper .sidebar span{
    padding: 0%;
    font-size: 12px;
}

.wrapper .main-content{
    width: 100%;
    margin-left: 100px;
    align-items: center;
}

.content-mid-logo{
    width: 230px;
    height: 340px;
    margin-top: 27vh;
    border: 20px;
}

.content-solid{
    width: 275px;
    padding-top: 12px;
    padding-bottom: 40px;
    background-color: #8b8b8b;
    border-radius:12px;
    border: 1px solid #b3b3b3;
    box-shadow: 0 5px 10px #e6e6e663;
}

.profile-solid{
    background-color: #353535;
    border: 1px solid #b3b3b3;
    box-shadow: 0 3px 5px #e6e6e663;
}

.profile-card{
    background-color: #353535;
    border: 1px solid #909090;
    box-shadow: 0 3px 5px #e6e6e663;
}

.profile-main-text{
    color: #ffffff;
    font-size: 1rem;
    font-weight: lighter;
}

.profile-content-text{
    color: #ffffff;
    font-size: 0.8rem;
}

.profile-label-text{
    color: #c0c0c0;
    font-size: 0.7rem;
}

.content-friend{
    padding-top: 12px;
    padding-bottom: 40px;
    background-color: #414141;
    border-radius:12px;
    /* border: 1px solid #b3b3b3; */
    /* box-shadow: 0 5px 10px #e6e6e663; */
}

.chat-box{
    color: #b4b4b4;
    /* border: 1px solid #b3b3b3; */
    /* box-shadow: 0 5px 10px #e6e6e663; */
}

.chat-box.active{
    color: white;
    background-color:#6a6a6a;
    border-radius: 10px;
}

.image-bg-card{
    opacity: 0.6;
    height: 100%;
    object-fit: cover;
}

.card-match{
    background-color: #404040;
    /* background-color: #505050; */
}

.loss{
    color: #ff5c5c;
}

.win{
    color: #7be862;
}

.slogo{
    width: 56px;
    height: 42px;
}

.mlogo{
    max-width: 160px;
    height: 120px;
}

.rounded{
    border-radius: 10px;
}

.nav-btn {
    font-size: small;
    color: #7c7c7c;
    width: 74px;
    height: 74px;
    border-radius: 10px;
}
.nav-btn a:hover{
    color: #ffffff;
    border: 1px solid #b3b3b3;
}

.nav-btn.active{
    color: #ffffff;
    background-color: #434343;
    border: 1px solid #b3b3b3;
    box-shadow: 0 5px 10px #e6e6e663;
}

.input-box{
    width: 80%;
    padding: 6px;
    background:  #4d4d4d;
    color: #ffffff;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: inset 0 3px 3px #3535355a;
    height: 35px;
}

form textarea{
    width: 100%;
    padding: 6px;
    background:  #4d4d4d;
    color: #ffffff;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: inset 0 3px 3px #3535355a;
    height: 35px;
}
.popup-menu{
    text-align: center;
	position: absolute;
	width:inherit;
	height: 100vh;
	margin-left: -100px;
	background-color: #00000091;
	display: none;
    z-index: 1;
}


::placeholder{
    color: #000000bd
}

.card-main{
    z-index: 2;
}

.card-topic{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

.chat-h-body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    /* white-space: nowrap; */
}

.chat-contacts{
    list-style: none;
    padding: 0;
}

.chat-contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.active li{
    color: white;
    background-color:#6a6a6a;
}

.chat-image{
    position: relative;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.user_img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border:1.5px solid #f5f6fa;
}

.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0em;
    right: 0;
    border:1.5px solid white;
}

.offline{
    background-color: #c23616 !important;
}

.card-content{
    color: #ffffff;
}

.card-side {
    position: absolute;
    opacity: 0;
    transition: transform 300ms ease-in-out;
}

.card-side.active {
    position: relative;
    opacity: 1;
    transition: transform 300ms ease-in-out;
}

.card-x-btn{
    width: 80%;
    font-size: 1rem;
}

.card-m-btn{
    width: 50%;
    font-size: 1rem;
}

.game-panel{
    background-color: black;
}

.player-image{
    height: 30px;
    width: 30px;
    border:1.5px solid #f5f6fa;
    object-fit: cover;
}

.score-board{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px #e6e6e663;
}

.image-profile {
    border-radius: 100%;
    object-fit: cover;
}

.chart-container {
    width: 220px;
}
  
.game-stats {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
    padding: 8px 32px;
    color: #ffffff;
    transition: all 400ms ease;
}

.game-stats .details ul {
    list-style: none;
    padding: 0;
}

.programming-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
}

.programming-stats .details .percentage {
    font-weight: 700;
    color: #e63946;
}