{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container pt-3">

	<div class="row">
		<!-- main content -->
		<div class="col-md-9 px-4 py-4 mx-1 mt-2">
			<!-- search -->
			<div class="row pb-2">
				<div class="col-md-4">
					<form action="#">
						<input class="input-box" type="text" placeholder="search" style="width: 80%; background-color: #c4c4c4;">
						<button class="btn btn-outline-light" type="submit" style="border-radius: 15px;"><i class="bi bi-search"></i></button>
					</form>
				</div>
			</div>
			<div class="row">
				<p class="mx-2" style="color: #ffffff; ">All Users</p>

				<!-- friend request -->
				{% for friend_request in all_friend_requests %}
				<div class="col-xl-2 col-md-3 col-sm-3 mt-1 mx-2">
					<div class="card mb-2" style="background-color: black; height: 180px; width: 140px; box-shadow: 0 2px 5px black;">
						<img class="card-img image-bg-card " src="{% static friend_request.from_user.banner_image %}" alt="Card image">
						<div class="card-img-overlay text-center pt-4">
							<a href="{{ friend_request.from_user }}" style="text-decoration: none;"> 
								<img style="max-width: 50px; border-radius: 100%; box-shadow: 0 2px 5px 2px #00000042;"  src="{% static friend_request.from_user.profile_image %}">
									<div class="profile-main-text mt-1">{{ friend_request.username }}</div>
							</a>
							<a a href="accept_friend_request/{{ friend_request.id }}/" class="btn btn-primary btn-sm mt-4" style="font-size: 0.7rem; box-shadow: 0 2px 5px 2px #00000042;">
								<i class="bi bi-person-add"></i>
								Accept
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
				<!-- all user -->
				{% for user in allusers %}
				{% if not user.is_superuser %}
				{% if user not in request.user.friends.all and user != request.user %}
				<div class="col-xl-2 col-md-3 col-sm-3 mt-1 mx-2">
					<div class="card mb-2" style="background-color: black; height: 180px; width: 140px; box-shadow: 0 2px 5px black;">
						<img class="card-img image-bg-card " src="{% static user.banner_image %}" alt="Card image">
						<div class="card-img-overlay text-center pt-4">
							<a href="{{user}}" style="text-decoration: none;"> 
								<img style="max-width: 50px; border-radius: 100%; box-shadow: 0 2px 5px 2px #00000042;"  src="{% static user.profile_image %}">
								<div class="profile-main-text mt-1">{{user}}</div>
							</a>
							<a a href="send_friend_request/{{user.id}}/" class="btn btn-light btn-sm mt-4" style="font-size: 0.7rem; box-shadow: 0 2px 5px #00000042;">
								<i class="bi bi-person-add"></i>
								Add Friend
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>
		</div>

		<!-- side friends -->
		<div class="col content-friend mt-2 px-4 py-4" style="width: 250px; height: 90vh; color: white; margin-right: 2rem">
			<div class="profile-main-text text-center">Friends</div>
			<div class="profile-label-text mt-3">ONLINE - {{ online }}</div>
			<ul class="chat-contacts">
			{% for friend in request.user.friends.all %}
			{% if friend.active %}
			<a href="{{ friend.username }}" class="profile-content-text" style="text-decoration: none; color: #fff;">
				<li style="margin-bottom: 0px;">
					<div class="d-flex align-items-center profile-content-text py-1">
						<div class="chat-image">
							<img src="{% static friend.profile_image %}" class="rounded-circle user_img">
							<span class="online_icon"></span>
						</div>
						<div class="px-2">
							{{ friend.username }}
						</div>
					</div>
				</li>
			</a>
			{% endif %}
			{% endfor %}
			</ul>
			<div class="profile-label-text">OFFLINE - {{ offline }}</div>
			<ul class="chat-contacts">
			{% for friend in request.user.friends.all %}
			{% if not friend.active %}
			<a href="{{ friend.username }}" class="profile-content-text" style="text-decoration: none; color: #fff;">
				<li style="margin-bottom: 0px;">
					<div class="d-flex align-items-center profile-content-text py-1">
						<div class="chat-image">
							<img src="{% static friend.profile_image %}" class="rounded-circle user_img">
							<span class="online_icon offline"></span>
						</div>
						<div class="px-2">
							{{ friend.username }}
						</div>
					</div>
				</li>
			</a>
			{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

</div>

{% endblock %}