{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Add friends</h1>
	<ul class="all-user">
		{% for user in allusers %}
		{% if not user.is_superuser %}
		{% if user not in request.user.friends.all and request.user != user %}
		<h1>{{ user }} <a href="send_friend_request/{{user.id}}/">send friend request</a></h1>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ul>

	{% for friend_request in all_friend_requests %}
	<h1>{{ friend_request.from_user }}
		<a href="accept_friend_request/{{ friend_request.id }}/">accept friend request</a>
	</h1>
	{% endfor %}


{% endblock %}